<h3>New Match</h3>
<%- form_for @match do |form| -%>
  <table width='100%'>
    <tr height='100px'>
      <td width='50%'>
  <span style='color:pink'>Pink Player</span>
  <%= select_tag "users[]", options_for_select([nil] + @users.map(&:name)) %>
</td>
<td width='50%'>
  <span style='color:yellow;'>Yellow Player</span>
  <%= select_tag "users[]", options_for_select([nil] + @users.map(&:name)) %>
</td>
</tr>
<tr height='100px'>
  <td width='50%'>
  <span style='color:blue'>Blue Player</span>
  <%= select_tag "users[]", options_for_select([nil] + @users.map(&:name)) %>
</td>
<td width='50%'>
  <span style='color:red'>Red Player</span>
  <%= select_tag "users[]", options_for_select([nil] + @users.map(&:name)) %>
</td>
</tr>
</table>
  <br/>
  Number of rounds <%= form.select :number_of_rounds, options_for_select([5,7]) %>

  <br/>
  Team Game?
  <%= form.check_box :team %>
  <br/>
  <%= form.submit "Start!" %>
<%- end -%>
